@font-face {
  font-family: 'antlace-cp';
  src:  url('../fonts/antlace-cp.eot?v1fs2n');
  src:  url('../fonts/antlace-cp.eot?v1fs2n#iefix') format('embedded-opentype'),
    url('../fonts/antlace-cp.ttf?v1fs2n') format('truetype'),
    url('../fonts/antlace-cp.woff?v1fs2n') format('woff'),
    url('../fonts/antlace-cp.svg?v1fs2n#antlace-cp') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="al-"], [class*=" al-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'antlace-cp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.al-admin:before {
  content: "\e900";
}
.al-browser:before {
  content: "\e901";
}
.al-browser-panel:before {
  content: "\e902";
}
.al-browser-version:before {
  content: "\e903";
}
.al-calendar:before {
  content: "\e904";
}
.al-caret-down:before {
  content: "\e905";
}
.al-caret-left:before {
  content: "\e906";
}
.al-caret-right:before {
  content: "\e907";
}
.al-caret-up:before {
  content: "\e908";
}
.al-channel:before {
  content: "\e909";
}
.al-channel-control:before {
  content: "\e90a";
}
.al-channel-plus:before {
  content: "\e90b";
}
.al-channel-remove:before {
  content: "\e90c";
}
.al-check:before {
  content: "\e90d";
}
.al-close:before {
  content: "\e90e";
}
.al-cookies:before {
  content: "\e90f";
}
.al-cyborg:before {
  content: "\e910";
}
.al-device:before {
  content: "\e911";
}
.al-distribution:before {
  content: "\e912";
}
.al-drone:before {
  content: "\e913";
}
.al-drone-control:before {
  content: "\e914";
}
.al-drone-minus:before {
  content: "\e915";
}
.al-drone-plus:before {
  content: "\e916";
}
.al-drone-shutdown:before {
  content: "\e917";
}
.al-duplicate:before {
  content: "\e918";
}
.al-edit:before {
  content: "\e919";
}
.al-exchanger:before {
  content: "\e91a";
}
.al-exchanger-access:before {
  content: "\e91b";
}
.al-exchanger-buy:before {
  content: "\e91c";
}
.al-exchanger-control:before {
  content: "\e91d";
}
.al-exchanger-create:before {
  content: "\e91e";
}
.al-exchanger-remove:before {
  content: "\e91f";
}
.al-exchanger-sell:before {
  content: "\e920";
}
.al-expander:before {
  content: "\e921";
}
.al-expander-open:before {
  content: "\e922";
}
.al-geofilter:before {
  content: "\e923";
}
.al-geofilter-control:before {
  content: "\e924";
}
.al-geofilter-create:before {
  content: "\e925";
}
.al-geofilter-remove:before {
  content: "\e926";
}
.al-group:before {
  content: "\e927";
}
.al-group-control:before {
  content: "\e928";
}
.al-group-create:before {
  content: "\e929";
}
.al-group-remove:before {
  content: "\e92a";
}
.al-history:before {
  content: "\e92b";
}
.al-home:before {
  content: "\e92c";
}
.al-ipfilter:before {
  content: "\e92d";
}
.al-ipfilter-control:before {
  content: "\e92e";
}
.al-ipfilter-create:before {
  content: "\e92f";
}
.al-ipfilter-remove:before {
  content: "\e930";
}
.al-ip-i-proxy:before {
  content: "\e931";
}
.al-ip-i-static:before {
  content: "\e932";
}
.al-iprange:before {
  content: "\e933";
}
.al-iprange-control:before {
  content: "\e934";
}
.al-iprange-create:before {
  content: "\e935";
}
.al-iprange-remove:before {
  content: "\e936";
}
.al-level:before {
  content: "\e937";
}
.al-level-control:before {
  content: "\e938";
}
.al-level-plus:before {
  content: "\e939";
}
.al-level-remove:before {
  content: "\e93a";
}
.al-limit:before {
  content: "\e93b";
}
.al-location:before {
  content: "\e93c";
}
.al-location-create:before {
  content: "\e93d";
}
.al-location-remove:before {
  content: "\e93e";
}
.al-mail:before {
  content: "\e93f";
}
.al-mail-control:before {
  content: "\e940";
}
.al-mailings:before {
  content: "\e941";
}
.al-mailings-control:before {
  content: "\e942";
}
.al-mailings-plus:before {
  content: "\e943";
}
.al-mailings-remove:before {
  content: "\e944";
}
.al-mail-plus:before {
  content: "\e945";
}
.al-mail-remove:before {
  content: "\e946";
}
.al-model:before {
  content: "\e947";
}
.al-navbar:before {
  content: "\e948";
}
.al-orientation:before {
  content: "\e949";
}
.al-os:before {
  content: "\e94a";
}
.al-os-control:before {
  content: "\e94b";
}
.al-os-panel:before {
  content: "\e94c";
}
.al-os-version:before {
  content: "\e94d";
}
.al-pause:before {
  content: "\e94e";
}
.al-play:before {
  content: "\e94f";
}
.al-profile:before {
  content: "\e950";
}
.al-profiles:before {
  content: "\e951";
}
.al-purse:before {
  content: "\e952";
}
.al-purse-access:before {
  content: "\e953";
}
.al-purse-buy:before {
  content: "\e954";
}
.al-purse-control:before {
  content: "\e955";
}
.al-purse-create:before {
  content: "\e956";
}
.al-purse-remove:before {
  content: "\e957";
}
.al-purse-sell:before {
  content: "\e958";
}
.al-rank:before {
  content: "\e959";
}
.al-ranl-control:before {
  content: "\e95a";
}
.al-refresh:before {
  content: "\e95b";
}
.al-rename:before {
  content: "\e95c";
}
.al-repo:before {
  content: "\e95d";
}
.al-repo-control:before {
  content: "\e95e";
}
.al-screen:before {
  content: "\e95f";
}
.al-settings:before {
  content: "\e960";
}
.al-shield:before {
  content: "\e961";
}
.al-shutdown:before {
  content: "\e962";
}
.al-sign-out:before {
  content: "\e963";
}
.al-software:before {
  content: "\e964";
}
.al-star:before {
  content: "\e965";
}
.al-stars:before {
  content: "\e966";
}
.al-statistic:before {
  content: "\e967";
}
.al-stop:before {
  content: "\e968";
}
.al-tags:before {
  content: "\e969";
}
.al-tags-control:before {
  content: "\e96a";
}
.al-tags-plus:before {
  content: "\e96b";
}
.al-tags-remove:before {
  content: "\e96c";
}
.al-task:before {
  content: "\e96d";
}
.al-task-control:before {
  content: "\e96e";
}
.al-task-minus:before {
  content: "\e96f";
}
.al-task-plus:before {
  content: "\e970";
}
.al-task-remove:before {
  content: "\e971";
}
.al-task-shutdown:before {
  content: "\e972";
}
.al-time:before {
  content: "\e973";
}
.al-time-targeting:before {
  content: "\e974";
}
.al-time-targeting-control:before {
  content: "\e975";
}
.al-time-targeting-plus:before {
  content: "\e976";
}
.al-time-targeting-remove:before {
  content: "\e977";
}
.al-trash:before {
  content: "\e978";
}
.al-ua-template:before {
  content: "\e979";
}
.al-user:before {
  content: "\e97a";
}
.al-user-access:before {
  content: "\e97b";
}
.al-user-control:before {
  content: "\e97c";
}
.al-user-create:before {
  content: "\e97d";
}
.al-user-o:before {
  content: "\e97e";
}
.al-user-remove:before {
  content: "\e97f";
}
.al-worker:before {
  content: "\e980";
}
.al-worker-control:before {
  content: "\e981";
}
.al-worker-minus:before {
  content: "\e982";
}
.al-worker-plus:before {
  content: "\e983";
}
.al-worker-shutdown:before {
  content: "\e984";
}
